extends layout

block content
    a(href="../register/") Register
    form(name="login form", method="post")
        input(type="hidden", name="_csrf", value= csrfToken)
        label Username:
        input(type="text", name="username")
        label Password:
        input(type="password", name="password")
        input(type="submit", value="Login")
